---
import Main from "@/layouts/Main.astro";
import AuthContainer from "@/components/AuthContainer";
---

<Main title="Welcome to Astro.">
	<main>
		<AuthContainer client:only />
	</main>
</Main>

<style>
	main {
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
	}
</style>
